.timer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80vh;
	width: 80vw;
	border: 1px solid grey;
	flex-direction: column;
	border-radius: 20px;
	background-color: #eee;
}

.heading {
	font-size: 2em;
	font-family: sans-serif;
	text-transform: uppercase;
	color: black;
	width: 100%;
	font-weight: bold;
	text-align: center;
	padding: 2% 0;
}

.main {
	display: flex;
	justify-content: space-between;
}

.main-quantity {
	font-size: 3em;
	font-family: sans-serif;
	text-align: center;
	border: 1px solid black;
	border-radius: 20px;
	padding: 50px;
	margin: 2vw;
	background-color: #eee;
}

.reset-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.reset-button {
	font-size: 1.5em;
	font-family: sans-serif;
	background-color: black;
	color: white;
	text-align: center;
	padding: 2% 0;
	width: 30%;
	border-radius: 5%;
}

.reset-button:hover{
	background-color: white;
	color: black;
	transition: all 1s ease;
	border: 1px solid black;
}